### Завдання 1 - Створити функцію, яка приймає два аргументи (число та ступінь), та повертає результат підняття числа до вказаної ступені

In [2]:
def function (number, exponent):
    return number ** exponent

In [4]:
print (function(3,2))

9

### Завдання 2 - Написати програму, яка виводить всі парні числа від 1 до 20.

In [1]:
for number in range (1, 21):
    if number % 2 == 0:
        print (number)

2
4
6
8
10
12
14
16
18
20

### Завдання 3 - Створити список чисел від 1 до 10, та вивести його зворотньо.

In [2]:
numbers = list(range(1, 11))
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Завдання 4 - Написати функцію, яка приймає рядок та повертає кількість унікальних символів у цьому рядку

In [3]:
def count_unique_chars(text):
    unique_chars = set(text)
    return len(unique_chars)

In [4]:
count_unique_chars("привіт")

6

### Завдання 5 - Перевернути массив використовуючи зворотню індексацію.

In [7]:
def reverse_array(arr):
    reversed_arr = []
    for i in range(len(arr) - 1, -1, -1):
        reversed_arr.append(arr[i])
    return reversed_arr

In [8]:
my_list = [1, 2, 3, 4, 5]
print(reverse_array(my_list))

[5, 4, 3, 2, 1]

### Завдання 6 - Створити словник, який містить дані про книгу (назва, автор, рік видання) та вивести його вміст

In [9]:
book = {
    "назва": "Ті, що співають у терні",
    "автор": "Коллін Мак-Каллоу",
    "рік видання": 1977
}

print(book)

{'назва': 'Ті, що співають у терні', 'автор': 'Коллін Мак-Каллоу', 'рік видання': 1977}

### Завдання 7 - Написати програму, яка обчислює суму перших 100 натуральних чисел

In [10]:
total = 0
for i in range(1, 101):
    total += i

print("Сума перших 100 натуральних чисел:", total)

Сума перших 100 натуральних чисел: 5050

In [11]:
import pandas as pd

### Завдання 7 (Pandas) - Створити DataFrame з двох списків (назва книги та автор) та вивести перші 5 рядків

In [12]:
titles = [
    "Кобзар",
    "Війна і мир",
    "Сто років самотності",
    "Майстер і Маргарита",
    "Переяславська Рада",
    "Дон Кіхот",
    "Гаррі Поттер і філософський камінь"
]

authors = [
    "Тарас Шевченко",
    "Лев Толстой",
    "Габріель Гарсія Маркес",
    "Михайло Булгаков",
    "Володимир Винниченко",
    "Мігель де Сервантес",
    "Джоан Роулінг"
]

In [13]:
df = pd.DataFrame({
    "Назва книги": titles,
    "Автор": authors
})

In [14]:
print(df.head(5))

            Назва книги                   Автор
0                Кобзар          Тарас Шевченко
1           Війна і мир             Лев Толстой
2  Сто років самотності  Габріель Гарсія Маркес
3   Майстер і Маргарита        Михайло Булгаков
4    Переяславська Рада    Володимир Винниченко

### Завдання 8 (Pandas) - Завантажити даних з CSV-файлу та вивести статистику про числові колонки

In [15]:
data = {
    "Назва книги": ["Кобзар", "Війна і мир", "Сто років самотності", "Майстер і Маргарита", "Переяславська Рада"],
    "Автор": ["Тарас Шевченко", "Лев Толстой", "Габріель Гарсія Маркес", "Михайло Булгаков", "Володимир Винниченко"],
    "Оцінка": [5, 4, 3, 5, 2],
    "Кількість сторінок": [250, 1225, 417, 384, 300]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df.to_csv("books.csv", index=False, encoding='utf-8-sig')

In [18]:
df_loaded = pd.read_csv("books.csv", encoding='utf-8-sig')

In [19]:
print(df_loaded.describe())

        Оцінка  Кількість сторінок
count  5.00000            5.000000
mean   3.80000          515.200000
std    1.30384          402.279381
min    2.00000          250.000000
25%    3.00000          300.000000
50%    4.00000          384.000000
75%    5.00000          417.000000
max    5.00000         1225.000000

### Завдання 9 (Pandas) - Вибрати лише рядки, де значення у колонці "Оцінка" більше 4

In [20]:
filtered_df = df_loaded[df_loaded["Оцінка"] > 4]

In [21]:
print(filtered_df)

           Назва книги             Автор  Оцінка  Кількість сторінок
0               Кобзар    Тарас Шевченко       5                 250
3  Майстер і Маргарита  Михайло Булгаков       5                 384

### Завдання 10 (Pandas) - Об'єднати два DataFrames за спільними колонками та вивести результат

In [22]:
df1 = df_loaded.copy()

In [23]:
df2 = pd.DataFrame({
    "Назва книги": ["Кобзар", "Війна і мир", "Дон Кіхот", "Майстер і Маргарита"],
    "Рік видання": [1840, 1869, 1605, 1967],
    "Жанр": ["Поезія", "Роман", "Роман", "Містика"]
})

In [24]:
df_merged = pd.merge(df1, df2, on="Назва книги")

In [25]:
print(df_merged)

           Назва книги             Автор  Оцінка  Кількість сторінок  \
0               Кобзар    Тарас Шевченко       5                 250
1          Війна і мир       Лев Толстой       4                1225
2  Майстер і Маргарита  Михайло Булгаков       5                 384

   Рік видання     Жанр
0         1840   Поезія
1         1869    Роман
2         1967  Містика

### Завдання 11 (Pandas) - Використати функцію apply для створення нового стовпця на основі умови - У вас є таблиця з оцінками студентів, і вам потрібно створити новий стовпець "Grade" на основі наступних критеріїв: A (90 і вище), B (80-89), C (менше 80).

In [26]:
data = {'Score': [85, 92, 78, 95, 88]}
df = pd.DataFrame(data)

In [27]:
def grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    else:
        return 'C'

In [28]:
df['Grade'] = df['Score'].apply(grade)

In [29]:
print(df)

   Score Grade
0     85     B
1     92     A
2     78     C
3     95     A
4     88     B